<% layout("./layouts/boilerplate") %>
  <h1 class="display-4 text-center mb-5">Authors</h1>
  <div class="row">
    <%for (let author of authors) {%>
      <a class="col-4 btn py-4" href="authors/<%=author%>">
        <h2>
          <%=author%>
        </h2>
      </a>
      <%}%>
  </div>