<% layout("./layouts/boilerplate") %>
    <h1 class="display-3 text-center mb-5">Explore Books</h1>
    <div class="row pt-5">
        <%for (let book of books.sort((a, b) => 0.5 - Math.random())) {%>
            <a class="btn col-3 border-0 my-4 hoverable" href="/books/<%=book.id%>">
                <img src="<%= book.imgUrl %>" class="img-fluid book-image" alt="">
            </a>
            <%}%>
    </div>