<%- include("partials/head") %>
    <%- include("partials/navbar") %>
        <div class="container my-5 pt-5">
            <div class="row justify-content-center">
                <h1 class="display-3 text-center">Add new book</h1>
                <div class="col-md-8 col-lg-6">
                    <form method="POST" action="/books" class="row validated-form" novalidate>
                        <div class="col-12 mb-3">
                            <label class="form-label" for="title">Title</label>
                            <input class="form-control" id="title" name="title" type="text" required>
                        </div>
                        <div class="col-6 mb-3">
                            <label class="form-label" for="author">Author</label>
                            <input class="form-control" id="author" name="author" type="text" required>
                        </div>
                        <div class="col-6 mb-3">
                            <label class="form-label" for="year">Year of publication</label>
                            <input class="form-control" id="year" name="year" type="number" required>
                        </div>
                        <div class="col-12 mb-3">
                            <label class="form-label" for="summary">Summary</label>
                            <textarea class="form-control" id="summary" name="summary"></textarea>
                        </div>
                        <div class="col-12 mb-3">
                            <label class="form-label" for="imgUrl">Image URL</label>
                            <input class="form-control" id="imgUrl" name="imgUrl" type="text">
                        </div>
                        <div class="col-12 mt-3 mb-5 d-grid gap-2">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            (() => {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.querySelectorAll('.validated-form')

                // Loop over them and prevent submission
                Array.from(forms).forEach(form => {
                    form.addEventListener('submit', event => {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
            })()
        </script>
        <%- include("partials/footer") %>