<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark px-3">
    <div class="container-fluid">
        <a href="/dashboard" class="navbar-brand">BookApp</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#expandme">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="expandme">
            <div class="navbar-nav mx-2">
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Books
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/books">Explore Books</a></li>
                        <li><a class="dropdown-item" href="/books/authors">Explore Authors</a></li>
                        <li><a class="dropdown-item" href="/books/categories">Explore Categories</a></li>
                        <li><a class="dropdown-item <% if (!currentUser) { %> disabled <% } %>" href="/books/new">Add
                                New Book</a></li>
                    </ul>
                </li>
                <% if (currentUser) { %>
                    <li class="nav-item dropdown mx-2">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <%= currentUser.username %>
                        </a>
                        <ul class="dropdown-menu">
                            <a href="/library/<%= currentUser.id %>" class="dropdown-item">My Library</a>
                            <a href="/auth/logout" class="dropdown-item">Logout</a>
                        </ul>
                    </li>
                    <% } else { %>
                        <li class="nav-item dropdown mx-2">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                User
                            </a>
                            <ul class="dropdown-menu">
                                <a href="/auth/login" class="dropdown-item">Login</a>
                                <a href="/auth/register" class="dropdown-item">Register</a>
                            </ul>
                        </li>
                        <% } %>
            </div>
        </div>
    </div>
</nav>