.display-7 {
    font-size: calc(1.300rem + 1vw);
    font-weight: 300;
    line-height: 1.2
}

@media (min-width:1200px) {
    .display-7 {
        font-size: 1.2rem
    }
}

#delete-icon {
    opacity: 0;
}

#button-delete {
    transition: 100ms;
}

.review-card:hover #delete-icon {
    opacity: 1;
}

.book-image {
    width: 90%;
    height: 360px;
    object-fit: cover;
}

.book-preview {
    width: 20%;
    height: 12vw;
    object-fit: cover;
}

.list-element {
    text-decoration: none;
    color: inherit;
    transition: 200ms;
    height: 17vw;
}

.list-element:hover {
    opacity: 0.5;
    color: inherit;
}

.empty-list {
    height: 13vw;
}

#book-image {
    width: 90%;
}

.btn {
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border-radius: var(--bs-btn-border-radius);
    transition: 200ms;
}

.btn h2 {
    font-size: 26px;
    font-weight: 300;
    line-height: 1.2
}

.btn:hover {
    border-color: black
}

#homepage-img {
    background-image: url(https://images.unsplash.com/photo-1537495329792-41ae41ad3bf0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
    background-size: cover;
    background-position-y: bottom;
}