.book-image {
    object-fit: cover;
    box-shadow: 5px 5px 5px #b0b0b0;
}

.book-preview {
    width: 20%;
    height: 100%vw;
    object-fit: cover;
}

.btn {
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    transition: 200ms;
}

.btn h2 {
    font-size: 26px;
    font-weight: 300;
    line-height: 1.2
}

.display-7 {
    font-size: calc(1.300rem + 1vw);
    font-weight: 300;
    line-height: 1.2
}

.display-8 {
    font-size: calc(1rem + 1vw);
    font-weight: 300;
    line-height: 1.2
}

.empty-list {
    height: 13vw;
}

.hoverable {
    transition: 200ms;
}

.hoverable:hover {
    opacity: 0.5;
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

.list-element {
    text-decoration: none;
    color: inherit;
    transition: 200ms;
}

.list-element:hover {
    opacity: 0.5;
    color: inherit;
}

.review-box {
    box-shadow: 5px 5px 5px #ccc;
}

.review-card:hover #delete-icon {
    opacity: 1;
}

.review-user {
    transition: 200ms;
}

.review-user:hover {
    color: #dc3545;
    cursor: pointer;
}

.review-user:hover .review {
    border-color: #dc3545;
}

.review-rating {
    display: none;
}

.stars {
    color: #DAA520;
}

.stars:hover {
    cursor: pointer;
}

#book-image {
    width: 90%;
}

#button-delete {
    transition: 100ms;
}

#delete-icon {
    opacity: 0;
}

#homepage-img {
    background-image: url(https://images.unsplash.com/photo-1537495329792-41ae41ad3bf0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
    background-size: cover;
    background-position-y: bottom;
}

#homepage-nav {
    background-color: #000;
}

@media (min-width:1200px) {
    .display-7 {
        font-size: 1.75rem
    }

    .display-8 {
        font-size: 1.5rem;
    }
}

@media (max-width:767px) {

    #recommended-span {
        display: none;
    }

    #show-text {
        order: 1
    }

    #show-image {
        order: 0
    }

    .show-btn {
        display: none;
    }
}

@media (max-width:575px) {
    #homepage {
        height: 100vh;
        background-image: url(https://images.unsplash.com/photo-1537495329792-41ae41ad3bf0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
        background-size: cover;
        background-position-y: bottom;
    }

    #homepage-nav {
        background-color: hsla(0, 0%, 50%, 0.7);
    }

    #homepage-img {
        display: none;
    }
}